/* styles.css */
.category-selection {
    display: flex;
    justify-content: space-around;
    background-color: #f4f4f4;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .category-selection ul {
    list-style-type: none;
    padding: 0;
  }
  
  .category-selection button {
    padding: 5px;
    outline: none;
    border: 1px solid grey;
    border-radius: 75px;
    color: rgb(61, 60, 58);
    font-size: 15px;
    font-weight: 500;
    background: white;
    cursor: pointer;
  }
  
  .category-selection button a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
  }
  
  .category-selection button:hover{
    background-color: #f0f0f0;
  }

 
  