.card {
  position: relative; 
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  background-color: #fff;
  height: auto; 
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card hr {
  position: absolute;
  top: calc(75% - 1px); 
  width: calc(100% - 30px); 
  margin: 0 15px; 
}

.card-content {
  padding: 15px;
}

.card-content h3 {
  margin-top: 0;
}

.card-content p {
  margin: 5px 0;
}

.price-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-btn span {
  font-size: 1rem;
}

.price-btn button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.price-btn button a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.price-btn button:hover {
  background-color: #0056b3;
}
