.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}

.card img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.card-content {
  padding: 20px;
  height: auto;
}

.card-content h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.price-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-btn span {
  font-size: 1rem;
}

.price-btn button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.price-btn button a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.price-btn button:hover {
  background-color: #0056b3;
}

